<div class="container">

  <h1 class="page-name"><%= @travel.date %></h1>

  <div id="travel">
    <div class="travel__contents">

        <div id="travel__form">
          <%= form_with model: [@travel, @travel_plan], method: :post do |f| %>
          <div class="form__item">
              <%= f.text_area :plan ,class:"plan__field"%><br />
              <%= f.submit 'Add',class:"form__btn" %>
          </div>
          <% end %>
        </div>

        <div id="travel__plans">
          <h2>Plan to : <%= @travel.itinerary %></h2>

          <div id="plans_index">
            <%= render partial: 'travels/plans', locals: { travel: @travel } %>
          </div>

        </div>
    </div>
  </div>
</div>
