<div class="container">

  <h1 class="page-name"><%= @travel.date %></h1>

  <div id="travel">
    <div class="travel__contents">

        <div id="travel__form">
          <%= form_with model: [@travel, @travel_plan], url: travel_travel_plans_path(@travel), remote: true do |f| %>
          <div class="form__item">
              <%= f.text_area :plan ,class:"plan__field"%><br />
              <%= f.submit 'Add',class:"form__btn" %>
          </div>
          <% end %>
        </div>

        <div id="travel__plans">
          <h2>Plan to : <%= @travel.itinerary %></h2>

          <div id="plans_index">
            <%= render 'travels/plans', travel_plans: @travel_plans %>
            <%= hidden_field_tag :travel_id, @travel.id %>
          </div>

        </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'travels' %>
<%= javascript_include_tag 'Sortable.min' %>