<div class="container">

  <h1 class="page-name"><%= @travel.date %></h1>

  <div id="travel">
        <div id="travel__form">
          <%= form_with model: [@travel, @travel_plan], url: travel_travel_plans_path(@travel), remote: true do |f| %>
          <div class="form__item">
              <%= f.text_area :plan ,class:"plan__field"%><br />
              <%= f.submit 'Add',class:"plan__btn" %>
          </div>
          <% end %>
        </div>

        <div id="travel__plans">
          <h2>Plan:<%= @travel.itinerary %></h2>

          <div id="plans_index">
            <%= render 'travels/plans', travel_plans: @travel_plans %>
          </div>

        </div>

  </div>
</div>