<div class="container">
  <div id="user">
      <h1 class="page-name">EDIT</h1>
      <div class="form__group">
          <%= form_with model:@user, local: true do |f| %>
          <%= render 'layouts/errors', model: f.object %>

            <%= f.label :profile_image %>
              <div class="form__item">
                 <%= f.attachment_field :profile_image %>
              </div>
            <%= f.label :name %>
              <div class="form__item">
                 <%= f.text_area :name, class:"form__field" %>
              </div>
            <%= f.label :email %>
              <div class="form__item">
               <%= f.email_field :email, class:"form__field" %>
              </div>

          <%= f.submit "Update", class:"form__btn" %>

          <% end %>
      </div>
  </div>
</div>