<div class="form__group">
  <%= form_with model:gallery, local: true do |f| %>

  <%= render 'layouts/errors', model: f.object %>

      <div class="form__item">
        <%= f.label :image, "Photo" %><br />
        <%= f.attachment_field :image %>
      </div>

      <div class="form__item">
        <%= f.label :title %><br />
        <%= f.text_field :title, class:"form__field"%>
      </div>

      <div class="form__item">
        <%= f.label :text, "Body" %><br />
        <%= f.text_area :text, class:"form__area" %>
      </div>

      <div class="form__item">
        <%= f.label :address, "Where?" %><br />
        <%= f.text_field :address, class:"form__field" %>
      </div>

      <div class="form__item">
        <%= f.label :youtube_url, "Youtube URL" %><br />
        <%= f.text_field :youtube_url, class:"form__field" %>
      </div>

    <%= f.submit "Submit", class:"form__btn" %>

  <% end %>
</div>