<div class="galleries__box">
    <% @galleries.each do |gallery| %>
    
      <div class="galleies__items">
        <div class="galleies__image">
          <%= link_to gallery_path(gallery.id) do %>
            <%= attachment_image_tag gallery, :image, format: 'jpg', fallback: "no-image.jpeg", class:"image" %>
          <% end %>
          <p><%= gallery.title %></p>
          <p><%= gallery.user.name %></p>
        </div>
        <%= l gallery.created_at %>
      </div>
    <% end %>
</div>