<div class="container">
  <div id="gallery">
    <h1 class="page-name"></h1>

    <div class="gallery__wrap">
      <div class="gallery__left">

          <h2 class="gallery__title"><%= @gallery.title %></h2>
          <p class="gallery__body"><%= @gallery.text %><br /><%= l @gallery.created_at, format: :short %></p>

          <% if @gallery.user_id == current_user.id %>
            <%= link_to "EDIT", edit_gallery_path(@gallery.id) %>
            <%= link_to "DELETE", gallery_path(@gallery.id), method: :delete, data: {comfirm: "記事を削除しますか？"} %>
          <% end %>

          <div class="gallery__region">
            <%= @gallery.region %>
          </div>

          <div id='map'></div>
      </div>

      <div class="gallery__right">
          <%= attachment_image_tag @gallery, :image, format: 'jpg', fallback: "no-image.jpeg", id: "img" %>
          <iframe width="100%" height="256px" src="https://www.youtube.com/embed/<%= @gallery.youtube_url%>" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>

    <!--緯度経度をgalleries.jsに渡す-->
    <%= javascript_tag do %>
      window.lat = '<%= @gallery.latitude %>';
      window.lng = '<%= @gallery.longitude %>';
    <% end %>

    <%= javascript_include_tag 'galleries' %>
    <!--GOOGLE　MAP API-->
    <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['MAP_API_KEY'] %>&callback=initMap&libraries=&v=weekly"async></script>
  </div>
</div>