  <!--サイドメニュー-->
    <nav id="side__navigation">
      <div class="side__menu">

        <div id="close_menu">✖︎</div>

        <ul class="nav__list">
          <% if user_signed_in? %>
            <li class="nav__item">
              <%= link_to 'MY PAGE', user_path(current_user.id), class:"nav-btn" %>
            </li>
            <li class="nav__item">
              <%= link_to 'ITINERARY',  travels_path, class:"nav-btn" %>
            </li>
            <li class="nav__item">
              <%= link_to 'BOOKMARK', galleries_path, class:"nav-btn" %>
            </li>
            <li class="nav__item">
              <%= link_to 'LOG OUT', destroy_user_session_path, method: :delete, class:"nav-btn" %>
            </li>
          <% else %>
            <li class="nav__item">
              <%= link_to 'TOP', root_path, class:"nav-btn" %>
            </li>
            <li class="nav__item">
              <%= link_to 'GALLERY', galleries_path, class:"nav-btn" %>
            </li>
            <li class="nav__item">
              <%= link_to 'LOG IN',  new_user_session_path, class:"nav-btn" %>
            </li>
            <li class="nav__item">
              <%= link_to 'FIRST VISIT', new_user_registration_path, class:"nav-btn" %>
            </li>
          <% end %>
        </ul>

      </div>
    </nav>