<!DOCTYPE html>
<html>
  <head>
    <title>SumiPortfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="layout">
    <header>
        <div class="menu">
            <nav>
              <ul class="nav-ul">
              <% if user_signed_in? %>
                  <li class="nav-list">
                    <%= link_to 'MY PAGE', galleries_path, class:"btn" %>
                  </li>
                  <li class="nav-list">
                    <%= link_to 'ITINERARY',  travels_path, class:"btn" %>
                  </li>
                  <li class="nav-list">
                    <%= link_to 'GALLERY', galleries_path, class:"btn" %>
                  </li>
                  <li class="nav-list">
                    <%= link_to 'LOG OUT', destroy_user_session_path, method :delete, class:"btn" %>
                  </li>
              <% else %>
                  <li class="nav-list">
                    <%= link_to 'TOP', root_path, class:"btn" %>
                  </li>
                  <li class="nav-list">
                    <%= link_to 'GALLERY', galleries_path, class:"btn" %>
                  </li>
                  <li class="nav-list">
                    <%= link_to 'LOG IN',  new_user_session_path, class:"btn" %>
                  </li>
                  <li class="nav-list">
                    <%= link_to 'FIRST VISIT', new_user_registration_path, class:"btn" %>
                  </li>
              <% end %>
              </ul>
        </nav>

        <%= link_to image_tag("logo.png", class:"logo"), root_path %>

      </div>
    </header>

    <main class ="main-field">
      <%= yield %>
    </main>

  </body>
</html>
