<!DOCTYPE html>
<html>
  <head>
    <title>SumiPortfolio</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <div class="layout">

      <%= render 'layouts/menu' %>
      <header class="top__header">
        <%= render 'layouts/header' %>
      </header>

      <main class ="main-field">
        <%= yield %>
      </main>

    </div>

  <%= javascript_include_tag 'jquery.min' %>
  <%= javascript_include_tag 'menu_trigger' %>
  </body>
</html>
